@import url('./main-layout.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');
@import url('../../../node_modules/bootstrap/dist/css/bootstrap.css');

todo-view {
  display: block;
  padding: var(--lumo-space-m) var(--lumo-space-l);
}

vaadin-icon {
  cursor: pointer;
}

vaadin-icon:hover {
  color: #a91b0d;
}

.container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

vaadin-list-box::part(items) {
  overflow-y: unset !important;
}
